# Supabase Configuration
SUPABASE_URL=https://uchhzsxnmttsiiwwgsfa.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjaGh6c3hubXR0c2lpd3dnc2ZhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjE2MzQ5NSwiZXhwIjoyMDg3NzM5NDk1fQ.uks62c26bIjFo8gZHctZ6fTHEsIMIos8xiMgxZ4om3Qyour-service-role-key
SuPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVjaGh6c3hubXR0c2lpd3dnc2ZhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxNjM0OTUsImV4cCI6MjA4NzczOTQ5NX0.fs4fv6mwQX-5DhyrV4UIQq7YRra8gdUU1obvEB38F8Y

# Server Configuration
PORT=5001
NODE_ENV=development

# Frontend URL (for CORS and password reset redirect)
FRONTEND_URL=http://localhost:5176
